<section class="cardSec" id="productItem ">
    <link href="/Css_Files/product.css" rel="stylesheet">
   
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 ">

        <div class="N95 mr-md-3  px-3  px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3 cardFont">
            <h2 class="display-5" style="font-size: 1.5rem;">N95 Mask</h2>
            <p class="lead" style="font-size: x-small;">N95 mask at low cost.</p>
          </div>
          
          <div style="height: 250px; ">

            <div class="contain">
              <img width="170px" height="170px" class="imgPro" src="https://image.freepik.com/free-vector/flat-medical-mask-concept_23-2148469654.jpg" alt="">
            </div>
            <a href="/product" class=" btn btn-primary buttonCard" ><i class="fas fa-shopping-cart"></i></a>
          </div>
          
        </div>


        <div class="Sani mr-md-3 px-3  px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 p-3 m-2 cardFont">
            <h2 class="display-5 " style="font-size: 1.5rem;">Hand Sanitizer</h2>
            <p class="lead" style="font-size: x-small;">all types of Sanitizer with 80% Alcohol</p>
          </div>
         
          <div style="height: 200px; ">
            <div class="contain">
              <img width="170px" height="170px" class="imgPro" src="https://image.freepik.com/free-vector/realistic-style-hand-sanitizer_23-2148481389.jpg" alt="">
            </div>
            <a href="#" class=" btn btn-primary buttonCard" ><i class="fas fa-shopping-cart"></i></a>
          </div>
          
          </div>

       

       

      </div>
     


     
      <div class="container">


     


      <div class="row">
      


        


          <div class="col-md-4">
          
            <div class="contnt" style="height: 300; ">
              <div  class=" imgSet text-center">
                <img width="170px" height="170px" class="imgPro" src="/images/gloves.jpg" alt="gloves image">
              </div>

              <div class=" text-center">
                <h4 class="display-5 ">Latex Gloves</h4>
                <p style="font-size: small;">100 gloves in a pack</p>
                <a href="/product" class=" btn btn-primary buttonCard" ><i class="fas fa-shopping-cart"></i></a>
              </div>
             
            </div>
          </div>
       
       
          <div class="col-md-4">
          
            <div class="contnt" style="height: 300; ">
              <div  class=" imgSet text-center">
                <img width="170px" height="170px" class="imgPro" src="/images/alcoholWipes.jpg" alt="">
              </div>

              <div class=" text-center">
                <h4 class="display-5 ">Alcohol wipes</h4>
                <p style="font-size: small;">Alcohol 80% at low cost </p>
                <a href="/product" class=" btn btn-primary buttonCard" ><i class="fas fa-shopping-cart"></i></a>
              </div>
             
            </div>
          </div>
       
       
       
          <div class="col-md-4">
          
            <div class="contnt" style="height: 300; ">
              <div  class=" imgSet text-center">
                <img width="170px" height="170px" class="imgPro" src="/images/Germotizer.jpg" alt="">
              </div>

              <div class=" text-center">
                <h4 class="display-5 ">Germotizer</h4>
                <p style="font-size: small;">Germotizer with 80% Alcohol at 999</p>
                <a href="/product" class=" btn btn-primary buttonCard" ><i class="fas fa-shopping-cart"></i></a>
              </div>
             
            </div>
          </div>
       
       
       
          <div class="col-md-4">
          
            <div class="contnt" style="height: 300; ">
              <div  class=" imgSet text-center">
                <img width="170px" height="170px" class="imgPro" src="/images/electric spary.jpg" alt="electric spary">
              </div>

              <div class=" text-center">
                <h4 class="display-5 ">E-spary</h4>
                <p style="font-size: small;">electric Spary with 8 hours of backup at low price</p>
                <a href="/product" class=" btn btn-primary buttonCard" ><i class="fas fa-shopping-cart"></i></a>
              </div>
             
            </div>
          </div>
       
     
          <div class="col-md-4">
          
            <div class="contnt" style="height: 300; ">
              <div  class=" imgSet text-center">
                <img width="170px" height="170px" class="imgPro" src="/images/dis mask.jpg" alt="electric spary">
              </div>

              <div class=" text-center">
                <h4 class="display-5 ">Face mask</h4>
                <p style="font-size: small;">Designer Face mask at low cost</p>
                <a href="/product" class=" btn btn-primary buttonCard" ><i class="fas fa-shopping-cart"></i></a>
              </div>
             
            </div>
          </div>
       
          <div class="col-md-4">
          
            <div class="contnt" style="height: 300; ">
              <div  class=" imgSet text-center">
                <img width="170px" height="170px" class="imgPro" src="/images/spary.jpg" alt="electric spary">
              </div>

              <div class=" text-center">
                <h4 class="display-5 ">spary</h4>
                <p style="font-size: small;">spray for Germotizer at low cost </p>
                <a href="#" class=" btn btn-primary buttonCard" ><i class="fas fa-shopping-cart"></i></a>
              </div>
             
            </div>
          </div>
       
        </div>
        </div>




</section>