<section class="productSec">


    <div class="main" style=" width: 95%; margin: 0 auto; padding: 30px;">

        <div class="row featurette">


            <div class="col-md-7 ">
              <h2 class="featurette-heading">Drop us a line! </h2>
              <p class="lead">send us a message on whatsapp or call us for a qoute. we will connect you with the services to fit your needs</p>
              <div style="display: inline-flex; " class="text-center">
              <a href="whatsapp://tel:8527608799" style=" align-items: center;
              display: flex;
              justify-content: center;" class="btn btn-primary senitizer1 text-center"><i class="fab fa-whatsapp text-center " style="color: white; font-size: 2rem;"></i></a>
              <a href="tel:8527608799" style=" align-items: center;
              display: flex;
              justify-content: center;" class="btn btn-primary senitizer1"><i class="fas fa-phone-alt" style="color: white; font-size: 2rem;"></i></a>
                
                
            </div>

            </div>
            <div class="col-md-5">
                <lottie-player src="https://assets4.lottiefiles.com/temporary_files/NL0dV4.json" mode="bounce" background="transparent"  speed="2"  style="width: 400; height: 400;"  loop  autoplay></lottie-player>
            </div>
          </div>
        
     </div>




</section>