<section class="productSec ">
    
    <link href="/Css_Files/proadd.css" rel="stylesheet">
   
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <!-- <div class="row mb-3">
        <div class="col-md-6 ">
            <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_yQtj4O.json"  background="transprent"  speed="1"  style="width: 200px; height: 200px;" hover loop  autoplay></lottie-player>
        </div>
        <div class="col-md-6 ">
          
        </div>
      </div>
     -->
    
  <div class="main" style=" width: 95%; margin: 0 auto; padding: 30px;">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Not all hand sanitizers work against it <span class="text-muted">here’s what you should use</span></h2>
          <p class="lead">hand sanitizer needs to be at least 60% alcohol in order to kill most viruses.

            Hand sanitizers with less than 60 percent alcohol were also found to be less effective at killing bacteria and fungi and may only reduce the growth of germs rather than killing them outright.</p>
          <a href="tel:8527608799" class="btn btn-primary senitizer" style="width: 150px;"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="col-md-5 order-md-1">
            <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_yQtj4O.json"  background="transprent"  speed="1"  style="width: 400; height: 400;"  loop  autoplay></lottie-player>
        </div>
      </div>
    
 </div>

</section>