<section class="slideView" id="slide-view ">
    <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel" >
        <div class="carousel-inner">

            <!-- item 1 -->
            <div class="carousel-item active item2">
                <div class="position-relative overflow-hidden p-2 p-md-4 m-md-2 text-center slide1">
                    <div class="content1">
                    <div class="col-md-5 p-lg-5 mx-auto my-5 ">
                      <h1 class="display-4 font-weight-normal  fc" > Disinfectant home or office</h1>
                      <p class="lead font-weight-normal fc" style="font-size: medium;">Disinfectant office or home at low cost starting at 1499/-</p>
                      <a class="btn btn-primary buttonItem" href="/product">Do it now</a>
                    </div>
                </div>
                    <div class="product-device shadow-sm d-none d-md-block"></div>
                    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
                  </div>
            </div>

<!-- item 2 -->
            <div class="carousel-item item2">
                <div class="position-relative overflow-hidden p-2 p-md-4 m-md-2 text-center slide2">
                    <div class="col-md-5 p-lg-5 mx-auto my-5">
                      <h1 class="display-4 font-weight-normal fc">Get a free service</h1>
                      <p class="lead font-weight-normal fc">Buy a product or sanitize office and get chance to win free service </p>
                      <a class="btn btn-outline-secondary " href="tel:8527608799">call now</a>
                    </div>
                    <div class="product-device shadow-sm d-none d-md-block"></div>
                    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
                  </div>

                
            </div>

        </div>






        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>


</section>